@import '../../styles/Home.module.scss';

.container{
  background-color: $grayLight;
  border-radius: 15px;
  padding: 15px;
  height: 1115px;
  @include contained(1, flex, column, space-between, start);
  .tech{
    background-color: #fff;
    padding: 15px 0;
    border-radius: 15px;
    p{
      cursor: pointer;
      padding-left: 35px;
    }
  }
  .btn{
    width: 100%;
    align-self: center;
    justify-content: center !important;
    >div{
      justify-content: center !important;
    }
  }
}