@import '../../styles/Home.module.scss';

.container {
  color: $green;
  border-radius: 6px;
  background-color: $greenLight;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  font-weight: 400;
}

.xs{
  font-size: $xsText;
}

.sm{
  font-size: $smText;
}

.md{
  font-size: $mdText;
}

.lg{
  font-size: $lgText;
}

.xl{
  font-size: $xlText;
}