@import '../../styles/Home.module.scss';

.container{
  position: fixed;
  z-index: 2;
  margin: -1rem 0;
  width: 100vw;
  height: 100vh;
  background-color: #0002;
  >div{
    position: relative;
    @include contained(1,flex,column,center,center);
  }
}

.item{
  position: absolute;
  z-index: 5;
  top: 10rem;
  background-color: $backgroundRoot;
  padding: 1rem 1.4rem;
  border-radius: .5rem;
  >div{
    margin-bottom: 15px;
    @include contained(1,flex,row,space-between,center);
    span{
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
}

.button{
  width: 13rem;
  border-radius: .6rem;
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.telegram{
  @include contained(1,flex,column !important,center,center);
  min-width: 25rem;
  padding: 1.5rem;
  border-radius: .6rem;
  background-color: $blueLight;
  color: $blueDark;
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
}

.rules{
  label{
    @include contained(1,flex,row,space-between,center);
  }
  span{
    font-size: .8rem !important;
    font-weight: 400 !important;
  }
}
