<<<<<<< HEAD
@import "../../styles/Home.module.scss";

.container {
  margin: 10px 0;
  flex-wrap: nowrap;
}

.header {
=======
@import '../../styles/Home.module.scss';

.container {
  margin: 10px 0;
}

.header{
>>>>>>> f8a607d17099ca218811c66bc43c75a80cbe2df5
  @include contained(1, flex, row, space-between, center);
}

.small {
  padding: 10px 0;
}

.start {
  @include contained(1, flex, row, flex-start, center);
}

.alignCenter {
  @include contained(1, flex, row, space-between, center);
}

.buttons {
  @include contained(1, flex, row, flex-end, center);
}
<<<<<<< HEAD
=======


>>>>>>> f8a607d17099ca218811c66bc43c75a80cbe2df5
