@import '../../styles/Home.module.scss';

.container {
  padding: 10px;
  border: 1px solid $blueLight;
  border-radius: 15px;
  width: 100%;
  @include contained(1, flex, row, space-around, center);
  select{
    flex: 1;
    border: 0;
    outline: 0;
    color: $blueLight;
    text-align: center;
    option{
      color: $blue;
      padding: 5px 0;
    }
  }
}