@import '../../styles/Home.module.scss';

.container{
  border-radius: 15px;
  padding: 15px;
  border: 0;
}

.shadow{
<<<<<<< HEAD
  border: 1px solid $blueLight;
  border-radius: .7rem;
  box-shadow: 1px 1px 15px $blueLight;
  padding: 1.5rem;
=======
  box-shadow: 1px 1px 10px #0002;
>>>>>>> f8a607d17099ca218811c66bc43c75a80cbe2df5
}