<<<<<<< HEAD
.container {
=======
.container{
  flex: 1;
>>>>>>> f8a607d17099ca218811c66bc43c75a80cbe2df5
  place-content: center;
  align-content: center;
}

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 700px) {
  .small {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media only screen and (max-width: 700px) {
  .medium {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media only screen and (max-width: 992px) {
  .large {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
<<<<<<< HEAD
@media (min-width: 1200px) {
  .xlarge {
    display: none;
  }
}
=======
@media (min-width: 1200px) { 
  .xlarge {
    display: none;
  }
 }
>>>>>>> f8a607d17099ca218811c66bc43c75a80cbe2df5
