.container{
  flex: 1;
  place-content: center;
  align-content: center;
  height: 40px;
  padding: 10px;
}

// Small devices (landscape phones, 576px and up)
@media only screen and (min-width: 700px) {
  .small {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media only screen and (max-width: 700px) {
  .medium {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media only screen and (max-width: 992px) {
  .large {
    display: none;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  .xlarge {
    display: none;
  }
 }
